<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liu.dao.TNodeMapper">
  <resultMap id="BaseResultMap" type="com.liu.model.TNode">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="moduleid" jdbcType="CHAR" property="moduleid" />
    <result column="typeid" jdbcType="CHAR" property="typeid" />
    <result column="standardid" jdbcType="INTEGER" property="standardid" />
    <result column="creditid" jdbcType="INTEGER" property="creditid" />
    <result column="evidenceid" jdbcType="INTEGER" property="evidenceid" />
  </resultMap>

  <resultMap id="standardMapList" type="java.util.HashMap">

  </resultMap>


  <select id="getStandard" resultMap="standardMapList">
    SELECT node.creditid,node.standardid,standard.title FROM t_node node,t_standard standard
    WHERE node.typeid = #{arg1,jdbcType=VARCHAR} AND node.standardid = standard.id AND node.moduleid = #{arg0,jdbcType=VARCHAR};

  </select>

</mapper>